.header {
  margin: auto;
  width: 90%;
  max-width: 1360px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: var(--space-lg);
}

.link {
  position: relative;
  display: inline-block;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; /* distancia entre texto y línea */
  width: 45%;
  height: 5px; /* grosor de la línea */
  background-color: var(--color-accent);
  border-radius: 9999px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.link:hover::after,
.link.active::after {
  transform: scaleX(1);
}

.link.active {
  font-weight: 500;
}

.button {
  display: flex;
  align-items: center;
  font-weight: 500;
  background-color: var(--color-accent);
  color: var(--color-primary-text);
  padding: 0 1.5rem;
  height: 40px;
  border-radius: var(--radius-lg);
  box-shadow: -1px 4px 0px var(--color-shadows);
  transition: background-color 0.5s ease;
  transition: box-shadow 0.5s ease;
}

.button:hover {
  background-color: var(--color-primary-text);
  box-shadow: -1px 4px 0px var(--color-accent);
  color: var(--color-bg);
  font-weight: 500;
}
