.button {
  display: flex;
  align-items: center;
  background-color: var(--color-accent);
  color: var(--color-bg);
  padding: 0 1.5em;
  height: 2.5rem;
  border-radius: var(--radius-16);
  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: var(--color-primary-text);
  color: var(--color-bg);
}
