footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-text);
  color: var(--color-bg);
}

.footer-text {
  text-align: center;
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  line-height: 1.1;
  padding: 0 3rem;
}
