/* === Header layout === */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-inline: clamp(1rem, 6.497vw + -0.523rem, 5rem);
  z-index: 100;
  background-color: rgba(37, 36, 34, 0.6);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

/* === Nav === */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1360px;
  margin: auto;
  height: 3.5rem;
}

/* === Logo === */
.logo {
  width: 36px;
  height: 36px;
  transition: color 0.5s ease;
  color: var(--color-primary-text);
}

.logo:hover {
  color: var(--color-accent) !important;
}

/* === Menu toggle  (Button) === */
#menu-toggle {
  position: fixed;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-primary-text);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-menu,
.icon-close {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-close {
  display: none;
  color: var(--color-bg);
}

/* === Mobile menu (ul) === */
.nav-links {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(-100%);
  background-color: var(--color-primary-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  z-index: 50;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  list-style: none;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* === Nav links === */
li {
  width: 50%;
}

.link {
  color: var(--color-bg);
}

/* === CV button === */
.button {
  width: fit-content;
}

.button:hover {
  background-color: var(--color-bg);
  color: var(--color-primary-text);
}

/* === Desktop layout === */
@media (min-width: 1280px) {
  nav {
    height: 5rem;
  }

  #menu-toggle {
    display: none;
  }

  .nav-links {
    position: static;
    transform: none !important;
    height: auto;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    border-radius: 0;
    gap: var(--space-1);
  }
  .nav-links li {
    opacity: 1 !important;
    transform: none !important;
    width: auto;
  }

  .link {
    color: var(--color-primary-text);
  }

  .logo {
    width: 48px;
    height: 48px;
  }

  .button:hover {
    background-color: var(--color-primary-text);
    color: var(--color-bg);
  }
}
