---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Sobre mí">
  <main class="container">
    <Hero
      title="Del diseño, al código"
      subtitle="Diseñador de Producto y Desarrollador Front-End"
    />
  </main>
</Layout>
