---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Proyectos">
  <main class="container">
    <Hero
      title="Pensar, probar y mejorar"
      subtitle="Diseñador de Producto y Desarrollador Front-End"
    />
  </main>
</Layout>
