---
import { Menu, X } from "lucide-astro";
import "../styles/components/header.css";

const currentPath = Astro.url.pathname;
---

<header class="header">
  <nav role="navigation" aria-label="Menú principal">
    <a href="/" aria-label="Ir al inicio">
      <svg
        class="logo"
        viewBox="0 0 48 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M37.123 29.1484H37.124V38.5146L24 46.1787L10.876 38.5146V27.4453C14.6168 27.4453 17.6493 30.517 17.6494 34.2578L24 38.0889L30.3496 34.2578V28.2969H20.1895V21.4844H37.123V29.1484ZM37.124 9.45801V18.791H35.4414C32.6298 18.791 30.3507 16.5118 30.3506 13.7002L24 9.88184L17.6494 13.7002V18.791H10.876V9.45801L24 1.82129L37.124 9.45801Z"
          fill="currentColor"></path>
      </svg>
    </a>
    <button
      id="menu-toggle"
      aria-expanded="false"
      aria-controls="main-menu"
      aria-label="Abrir menú de navegación"
    >
      <span class="icon-menu" id="iconMenu">
        <Menu />
      </span>
      <span class="icon-close" id="iconClose">
        <X />
      </span>
    </button>
    <ul class="nav-links" id="main-menu">
      <li>
        <a
          href="/about"
          class={`link ${currentPath === "/about" ? "active" : ""}`}
          aria-current={currentPath === "/about" ? "page" : undefined}
          >Sobre mi</a
        >
      </li>
      <li>
        <a
          href="/projects"
          class={`link ${currentPath === "/projects" ? "active" : ""}`}
          aria-current={currentPath === "/projects" ? "page" : undefined}
          >Proyectos</a
        >
      </li>
      <li>
        <a
          href="/contact"
          class={`link ${currentPath === "/contact" ? "active" : ""}`}
          aria-current={currentPath === "/contact" ? "page" : undefined}
          >Contáctame</a
        >
      </li>
      <li>
        <a
          href="/CV_Jonathan_Salazar.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="button"
        >
          Resumen / CV</a
        >
      </li>
    </ul>
  </nav>

  <script type="module">
    const toggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("main-menu");
    const iconMenu = document.getElementById("iconMenu");
    const iconClose = document.getElementById("iconClose");

    if (toggle && menu && iconMenu && iconClose) {
      toggle.addEventListener("click", () => {
        const isOpen = menu.classList.toggle("open");
        toggle.setAttribute("aria-expanded", isOpen);

        iconMenu.style.display = isOpen ? "none" : "flex";
        iconClose.style.display = isOpen ? "flex" : "none";
      });
    }
  </script>
</header>
