---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactMe from "../sections/ContactMe.astro";
---

<BaseLayout titlePage="Contact">
  <ContactMe href="mailto:_jonslz@gmail.com" buttonLabel="Envíame un mensaje">
    <span slot="description">
      <p>
        Desde Argentina, colaboro con equipos de habla hispana para crear
        <strong>experiencias digitales qué&nbsp;conectan.</strong>
      </p>
      <p>¿Te gustaría que trabajemos juntos?</p>
    </span>
  </ContactMe>
</BaseLayout>
