---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout titlePage="Contact">
  <main class="container">
    <h1>Welcome to Astro</h1>
    <p>This is a simple Astro page.</p>
  </main>
</BaseLayout>
