---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../sections/Hero.astro";
import ContactMe from "../sections/ContactMe.astro";
---

<BaseLayout titlePage="Projects">
  <Hero
    title="Pensar, probar y mejorar"
    subtitle="Diseñador de Producto y Desarrollador Front-End"
  />
  <ContactMe href="/contact" buttonLabel="Contáctame">
    <span slot="description">
      <p>¿Tienes un proyecto en mente?</p>
    </span>
  </ContactMe>
</BaseLayout>
